body {
    background-color: peachpuff;
    padding: 60px;
    display: flex;
}

.banner {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.options {
    text-align: center;
}

.gridContainer {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    align-items: baseline;
    align-content: flex-start;
    flex: 0 0 600px;
}